body, html{ height: 100%;}
body {
	background-color: #FFFFFF;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color: #79C2F4;
  text-align: center;
}
.header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 3rem;
  background-color: #79C2F4;
  text-align: center;
}
.main {
  padding-top: 15rem;
}
