body, html{ height: 100%;}
body {
	background-color: #FFFFFF;
}
#home {
	height: 55%;
	text-align: center;
	justify-content: center;
	align-items: center;
	background-color: #FFFFFF;
	background-size : 100% auto;
	background-repeat: no-repeat;
}
.footer {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  padding: 3rem;
  background-color: #79C2F4;
  text-align: center;
}
.header {
  position: absolute;
  right: 0;
  top: 0;
  left: 0;
  padding: 3rem;
  background-color: #79C2F4;
  text-align: center;
}
#info {
	background-color: #FFC942;
	height: auto;
	text-align: center;
	justify-content: center;
	align-items: center;
}

.navbar-nav > li{
  padding-left:80px;
  padding-right:80px;
  background-color: #ffcc00;
  color: #777;
}

.navbar-custom {
    background-color:#ffcc00;
    color:#ffcc00;
    border-radius:0;
}

.yourActivities {
  float:left;
  width: 48%;
  height: 400px;
  background-color: #0099ff;
  text-align: center;
}

.yourActivities h2 {
  color:orange;
    text-align: center;
}

.activities {

  float: right;
    width: 48%;
    height: 60px;
  background-color: #0099ff;
  text-align: center;
}

.activities h2 {
  color:orange;
    text-align: center;
}

.contactInfo {
  position: relative;
  float: left;
  top: 0px;
  padding-bottom: 60px;
  height: 50px;
  width: 25%;
  background-color: #0099ff;
  text-align: center;
}

.contactInfo h3 {
  color:orange;
    text-align: center;
}

.update {
  position: relative;
  float: right;
  right: 100px;
  top: 325px;
  padding-bottom: 60px;
  height: 50px;
  width: 25%;
  background-color: #0099ff;
  text-align: center;
}

.input-group {
  width: 30%;
  top:100px;
  left: 500px;
}


